html,
body {
  background: #333;
  height: 100%;
  width: 100%;
  margin: 0;
  touch-action: none;
}

#canvas {
  background: #000;
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

#debug-text {
  position: absolute;
  top: 0;
  left: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
